@media (max-width: 1920px) {
  .buttonnumbersingle {
    height: 215px;
    width: 77px;
    position: absolute;
    right: 14cm;
    bottom: 15.29cm;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    border-radius: 15px;
    background: transparent;
    border: none;
    font-size: 0;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .buttonnumbersingle {
    height: 215px;
    width: 77px;
    position: absolute;
    right: 9.222cm;
    bottom: 10.5cm;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    border-radius: 15px;
    background: transparent;
    border: none;
    font-size: 0;
  }
}

.buttonnumbersingle:hover {
  border: white 0.1cm;
  border-style: solid;
}

#single20 {
  margin-bottom: 10mm;
  margin-right: 0.6mm;
}
#single1 {
  margin-bottom: 8.6mm;
  margin-right: -10.6mm;
  transform: rotate(18deg);
}
#single18 {
  margin-bottom: 3.8mm;
  margin-right: -20.5mm;
  transform: rotate(36deg);
}
#single4 {
  margin-bottom: -4.7mm;
  margin-right: -28.5mm;
  transform: rotate(54deg);
}
#single13 {
  margin-bottom: -14.4mm;
  margin-right: -33.5mm;
  transform: rotate(72deg);
}
#single6 {
  margin-bottom: -25.4mm;
  margin-right: -35.5mm;
  transform: rotate(90deg);
}
#single10 {
  margin-bottom: -36.8mm;
  margin-right: -33.8mm;
  transform: rotate(108deg);
}

#single15 {
  margin-bottom: -46.5mm;
  margin-right: -28.8mm;
  transform: rotate(126deg);
}
#single2 {
  margin-bottom: -54.6mm;
  margin-right: -20.9mm;
  transform: rotate(144deg);
}

#single17 {
  margin-bottom: -59.9mm;
  margin-right: -10.9mm;
  transform: rotate(162deg);
}
#single3 {
  margin-bottom: -61.5mm;
  transform: rotate(180deg);
}
#single19 {
  margin-bottom: -60mm;
  margin-right: 11.2mm;
  transform: rotate(198deg);
}
#single7 {
  margin-bottom: -55mm;
  margin-right: 21.2mm;
  transform: rotate(216deg);
}
#single16 {
  margin-bottom: -47mm;
  margin-right: 29.2mm;
  transform: rotate(234deg);
}
#single8 {
  margin-bottom: -36.9mm;
  margin-right: 34.5mm;
  transform: rotate(252deg);
}
#single11 {
  margin-bottom: -25.8mm;
  margin-right: 36.5mm;
  transform: rotate(270deg);
}

#single14 {
  margin-bottom: -14.8mm;
  margin-right: 34.5mm;
  transform: rotate(288deg);
}
#single9 {
  margin-bottom: -5.2mm;
  margin-right: 29mm;
  transform: rotate(306deg);
}
#single12 {
  margin-bottom: 2.9mm;
  margin-right: 21.5mm;
  transform: rotate(324deg);
}

#single5 {
  margin-bottom: 8.9mm;
  margin-right: 11.8mm;
  transform: rotate(342deg);
}
.buttonnumberbull {
  position: absolute;
  background: transparent;
  border: none;
  font-size: 0;
}
#single50 {
  height: 20px;
  width: 20px;
  right: 378.5px;
  bottom: 397px;
  border-radius: 15px;
  z-index: 1;
}
#single50:hover {
  border: white 0.1cm;
  border-style: solid;
}
#single25 {
  height: 44px;
  width: 44px;
  right: 367px;
  bottom: 385px;
  border-radius: 22px;
  z-index: 0;
}
#single25:hover {
  border: white 0.1cm;
  border-style: solid;
}
