.playerOne {
  position: absolute;
  top: 60px;
  left: 50px;
}

.playerTwo {
  position: absolute;
  top: 60px;
  left: 300px;
}
.count {
  font-size: 60px;
}

.nextPlayer {
  position: absolute;
  top: 250px;
  left: 100px;
}
.dartscheibe {
  position: absolute;
  left: 700px;
}

.buttondoubles {
  height: 50px;
  width: 76px;
}
.threeDartsCounterPlayerOne {
  color: rgb(104, 42, 42);
  text-shadow: 2px 2px 5px black;
  font-size: 1cm;
  letter-spacing: 3px;
  font-family: Century Gothic, sans-serif;
}
